<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1" >

    <parameter name="uName" value="demo"></parameter>
    <parameter name="psswd" value="demo"></parameter>

    <test name="Test1" >
        <classes>
            <class name="automation.NewTourseTest"/>
        </classes>
    </test>

</suite>

